## The old version of getting tests using PyPDF2 reader (not the fastest, better to use parser_metadata.py)

In [1]:
import requests
import PyPDF2
import io

In [16]:
tk_api_root = 'https://gegevensmagazijn.tweedekamer.nl/OData/v4/2.0/'
sub = 'Document'
# sub = 'Reservering?$top=25'
params = {}
# requests response
response = requests.get(tk_api_root+sub)
# get json version
response = response.json()
# print length

# print(f"""We've got a response with {response.json().keys()} as keys from {str(response.json()['@odata.context'])}, with the value key containing {len(response.json()['value'])} items""")

In [29]:
ob_api_root = 'https://zoek.officielebekendmakingen.nl/gmb-'
dossier = '2023-102238.pdf'    # THIS DOSSIER DOES NOT EXIST, REPLACE WITH EXISTING DOSSIER IF YOU WANT IT TO WORK

# request response
response = requests.get(ob_api_root+str(dossier))

In [30]:
#get data from response
response

In [44]:
def get_text_from_pdf_link(pdf_link):
    # Request the PDF file and read its content
    response = requests.get(pdf_link)
    pdf_content = io.BytesIO(response.content)

    # Create a PDF reader object
    pdf_reader = PyPDF2.PdfReader(pdf_content)

    # Extract text from each page and concatenate
    text = ""
    for page_num in range(len(pdf_reader.pages)):
        page = pdf_reader.pages[page_num]
        text += page.extract_text()

    return text

In [45]:
get_text_from_pdf_link((ob_api_root+str(dossier)))

'Aanvraag standplaatsv ergunning,  Kaasmar kt te Purmerend \nOp 6 maar t 2023  heeft de gemeente  een aanvraag  ontvangen  voor een tijdelijk e standplaatsvergunning \nvoor de locatie  Kaasmarkt  te Purmerend.  De aanvraag  is geregistreerd  onder  zaaknummer  Z2023- \n00001256. De aanvraag  betref t: \n• Standplaats \nProcedure \nDe aanvraag  zal worden  behandeld  volgens  de reguliere  procedure.  Nadat  de aanvraag  is beoordeeld \nneemt  de gemeente  een besluit.  Het indienen  van een bezw aarschrift is in dit stadium  niet mogelijk. \nWel kunt u over de ingekomen  aanvragen  reeds  telefonisc h contact  opnemen  (0299-  452452,  Omge- \nvingsteam) \nNr. 102238 GEMEENTEBLAD 9 maart \n2023 \nOfficiële  uitgave  van de gemeente  Purmerend \nGemeenteblad  2023  nr. 102238 9 maart  2023 1 '

In [2]:
import pandas as pd
df = pd.read_csv('kamers_onbewerkt.csv')

In [3]:
df.head()

,Unnamed: 0,text,title,datum,vergaderjaar,kamerstuk,len
0,0,\n25 295Infectieziektenbestrijdingnr. 1BRIEF V...,"Kamerstuk 25295, nr. 1 | Overheid.nl > Officië...",14-04-1997,1996-1997,Kamerstuk 25295 nr. 1,1683
1,1,\n25 295Infectieziektenbestrijdingnr. 2NOTAInh...,"Kamerstuk 25295, nr. 2 | Overheid.nl > Officië...",14-04-1997,1996-1997,Kamerstuk 25295 nr. 2,86555
2,2,\n25 295Infectieziektenbestrijdingnr. 3BRIEF V...,"Kamerstuk 25295, nr. 3 | Overheid.nl > Officië...",28-06-2001,2000-2001,Kamerstuk 25295 nr. 3,28681
3,3,\n25 295Infectieziektenbestrijdingnr. 4BRIEF V...,"Kamerstuk 25295, nr. 4 | Overheid.nl > Officië...",15-08-2001,2000-2001,Kamerstuk 25295 nr. 4,4920
4,4,\n25 295Infectieziektenbestrijdingnr. 5BRIEF V...,"Kamerstuk 25295, nr. 5 | Overheid.nl > Officië...",06-03-2002,2001-2002,Kamerstuk 25295 nr. 5,2966

In [4]:
df.groupby('datum').count()

                  Unnamed: 0  text  title  vergaderjaar  kamerstuk  len
datum
01-02-2021 08:52           1     1      1             1          1    1
01-02-2021 11:31           2     2      2             2          2    2
01-02-2021 13:58           2     2      2             2          2    2
01-02-2022 15:26           2     2      2             2          2    2
01-02-2022 16:14           2     2      2             2          2    2
...                      ...   ...    ...           ...        ...  ...
31-08-2020 11:51           1     1      1             1          1    1
31-10-2016 16:31           1     1      1             1          1    1
31-10-2019 13:12           1     1      1             1          1    1
31-12-2021 13:01           4     4      4             4          4    4
31-12-2021 13:25           2     2      2             2          2    2

[1847 rows x 6 columns]

In [5]:
#divide datum into year, month, day
df['year'] = pd.DatetimeIndex(df['datum']).year
df['month'] = pd.DatetimeIndex(df['datum']).month
df['day'] = pd.DatetimeIndex(df['datum']).day
df.groupby('year').count()

,Unnamed: 0,text,title,datum,vergaderjaar,kamerstuk,len,month,day
year,,,,,,,,,
1997,4,4,4,4,4,4,4,4,4
2001,4,4,4,4,4,4,4,4,4
2002,10,10,10,10,10,10,10,10,10
2004,10,10,10,10,10,10,10,10,10
2005,2,2,2,2,2,2,2,2,2
2007,2,2,2,2,2,2,2,2,2
2008,4,4,4,4,4,4,4,4,4
2009,4,4,4,4,4,4,4,4,4
2011,20,20,20,20,20,20,20,20,20
2012,108,108,108,108,108,108,108,108,108
2013,94,94,94,94,94,94,94,94,94
2014,102,102,102,102,102,102,102,102,102
2015,58,58,58,58,58,58,58,58,58
2016,62,62,62,62,62,62,62,62,62
2017,49,49,49,49,49,49,49,49,49
2018,73,73,73,73,73,73,73,73,73
2019,173,173,173,173,173,173,173,173,173
2020,1757,1757,1757,1757,1757,1757,1757,1757,1757
2021,1996,1996,1996,1996,1996,1996,1996,1996,1996
2022,511,511,511,511,511,511,511,511,511

In [5]:
#check number of null values
df.isnull().sum()

Unnamed: 0      0
text            0
title           0
datum           0
vergaderjaar    0
kamerstuk       0
len             0
dtype: int64

In [7]:
#check number of unique values
df.nunique()

Unnamed: 0      5043
text            2891
title           2891
datum           1847
vergaderjaar      22
kamerstuk       2891
len             2009
dtype: int64

In [ ]:
#get 20th row from dataframe
df.iloc[20]